<%- include('../partials/header') %>
<table id="list" class="table">
  <thead>
    <tr>
      <th scope="col">TEAMS</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(m) { %>
      <tr>
        <th scope="row">1</th>
        <td><%= m.state %></td>
        <td><%= m.team %></td>
        <td><%= m.wins %></td>
        <td><%= m.losses %></td>
        <td><a href="/teams/<%= m._id %>">DETAILS</a></td>
        <td>
          <form action="/teams/<%=m._id%>?_method=DELETE" method="POST">
          <button>delete</button></form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>